* {
  color: darkblue;
  padding: 0;
  margin: 0;
}

.main {
  background-color: #ffcc99;
  text-align:center;
  font-weight: bolder;
  border: 5px solid brown;
}

.list {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/background.jpg");
  background-position: center;
  border: 1px solid brown;
}

.breakfast {
  display: flex;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.lunch {
  display: flex;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.dinner {
  display: flex;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

a, .back {
  text-decoration: none;
}

.footer {
  position: relative;
  background-color: brown;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy {
  font-weight: bolder;
}
