* {
  color: darkblue;
}

.main {
  background-image: url("../images/background.jpg");
  background-position: center;
  text-align:center;
  font-weight: bolder;
  border: 5px solid brown;
}

.list {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffcc99;
  border: 1px solid brown;
}

.breakfast {
  padding-left: 50px;
  text-decoration: none;
}

.lunch {
  padding-left: 50px;
  text-decoration: none;
}

.dinner {
  padding-left: 50px;
  text-decoration: none;
}

a, .back {
  text-decoration: none;
}
